<!DOCTYPE html>

<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/style/usuario/contas/cadastroStyle.css">
    <link rel="stylesheet" href="/style/usuario/contas/scriptsStyle.css">
    <link rel="stylesheet" href="/style/usuario/recursosBasicos.css">
    <link rel="icon" href="/imagens/livro-16.ico">
</head>
<body>

    <header>
        <nav class="main-nav">
            <a class="home-link">Home</a>
            <div class="nav-botao">
                <button>Histórico</button>
                <button id="botao-carrinho">Carrinho</button>
                <button>Trocas</button>
                <button id="botao-chatbot-navbar">Chatbot</button>
            </div>
        </nav>
        
        <nav class="usuario-nav">
            <div class="notificacao-container">
                <img src="/imagens/notificacao.png" alt="Notificações" class="notificacao-icone" hidden>
                <div class="notificacao-submenu">
                    <div class="notificacoes-lista"></div>
                </div>
            </div>

            <div class="barra-pesquisa">
                <input type="text" id="navbarInput" placeholder="Pesquisar...">
                <button id="navbarBotaoPesquisa">🔍</button>
            </div>
            
            <div class="usuario-sessao">
                <div id="user-data" data-user-id="<%= Array.isArray(usuario) ? usuario[0]?.usr_id : usuario?.usr_id %>" style="display:none;"></div>
                <span class="usuario-nome"><%= Array.isArray(usuario) ? usuario[0]?.usr_nome : usuario?.usr_nome %></span>
                <img src="/imagens/graficoLinha.PNG" alt="Imagem do usuário" class="usuario-imagem">
            </div>
        </nav>
    </header>

    <div class="main">
        <!--Barra lateral de Navegação-->
        <div class="sidenav">
            <a id="cadastro-side-btn">Cadastrar</a>
            <a id="senha-side-btn">Atualizar Senha</a>
            <a id="atualizar-side-btn">Atualizar Cadastro</a>
            <a id="cartao-side-btn">Cartões</a>
            <a id="end-entrega-side-btn">End. Entrega</a>
            <a id="end-cobranca-side-btn">End. Cobranca</a>
        </div>

        <div class="conteudo">
            <div class="container-cartoes">
                <div class="cartoes">
                    <div class="bloco_titulo">
                        <h1 class="titulo">Adição de Cartão</h1>
                    </div>
                
                    <form class="container-forms-cartoes">
                        <!--Primeira Linha-->
                        <div class="linha_centralizada">
                            <div class="num_cartao">
                                <label for="num_cartao">Número</label>
                                <input class="num_cartao_input" type="number" id="num_cartao" name="num_cartao" required>
                            </div>

                            <div class="cod_sec">
                                <label for="cod_sec">Código de Segurança</label>
                                <input class="cod_sec_input" type="password" id="cod_sec" name="cod_sec" required>
                            </div>

                            <div class="select">
                                <label class="label_genero">Bandeira</label>
                                <select class="selecao" id="bandeira" name="bandeira" required>
                                    <option value="">Selecione</option>
                                    <option value="Visa">Visa</option>
                                    <option value="Mastercard">Mastercard</option>
                                    <option value="Hipercard">Hipercard</option>
                                    <option value="American Express">American Express</option>
                                    <option value="Elo">Elo</option>
                                    <option value="Diners Club">Diners Club</option>
                                    <option value="Discover">Discover</option>
                                </select>
                            </div>
                        </div>

                        <!--Segunda Linha-->
                        <div class="linha_centralizada">
                            <div class="nome">
                                <label class="label" for="nome_c">Nome do Titular</label>
                                <input class="nome_input" type="text" id="nome_c" name="nome_c" required>
                            </div>
                        </div>

                        <div class="linha_centralizada">
                            <button class="adicionar">Adicionar</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <div class="chat">
    <div class="header">
        <h3>Assistente Virtual</h3>
        <button class="close-chat">X</button>
    </div>
    <div class="screen"></div>
    <div class="input">
        <input type="text" placeholder="Digite sua mensagem...">
        <button id="ai-button">Enviar</button>
    </div>
    </div>
    
    <script type="module" src="/scripts/contas/usuario/cartaoAdicionar.js"></script>
    <script type="module" src="/scripts/navbar.js"></script>
    <script type="module" src="/scripts/aiChatBot.js"></script>
    <script type="module" src="/scripts/contas/usuario/sidebar.js"></script>
</body>
</html>