<!DOCTYPE html>

<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/style/usuario/contas/cadastroStyle.css">
    <link rel="stylesheet" href="/style/usuario/contas/scriptsStyle.css">
    <link rel="stylesheet" href="/style/usuario/recursosBasicos.css">
    <link rel="icon" href="/imagens/livro-16.ico">
</head>
<body>

    <header>
        <nav class="main-nav">
            <a class="home-link">Home</a>
            <div class="nav-botao">
                <button>Histórico</button>
                <button id="botao-carrinho">Carrinho</button>
                <button>Trocas</button>
                <button id="botao-chatbot-navbar">Chatbot</button>
            </div>
        </nav>
        
        <nav class="usuario-nav">
            <div class="notificacao-container">
                <img src="/imagens/notificacao.png" alt="Notificações" class="notificacao-icone" hidden>
                <div class="notificacao-submenu">
                    <div class="notificacoes-lista"></div>
                </div>
            </div>

            <div class="barra-pesquisa">
                <input type="text" id="navbarInput" placeholder="Pesquisar...">
                <button id="navbarBotaoPesquisa">🔍</button>
            </div>
            
            <div class="usuario-sessao">
                <div id="user-data" data-user-id="<%= Array.isArray(usuario) ? usuario[0]?.usr_id : usuario?.usr_id %>" style="display:none;"></div>
                <span class="usuario-nome"><%= Array.isArray(usuario) ? usuario[0]?.usr_nome : usuario?.usr_nome %></span>
                <img src="/imagens/avatar.jpg" alt="Imagem do usuário" class="usuario-imagem">
            </div>
        </nav>
    </header>

    <div class="main">
        <!--Barra lateral de Navegação-->
        <div class="sidenav">
            <a id="cadastro-side-btn">Cadastrar</a>
            <a id="senha-side-btn">Atualizar Senha</a>
            <a id="atualizar-side-btn">Atualizar Cadastro</a>
            <a id="cartao-side-btn">Cartões</a>
            <a id="end-entrega-side-btn">End. Entrega</a>
            <a id="end-cobranca-side-btn">End. Cobranca</a>
        </div>

        <div class="conteudo">

            <div class="senha">
                <div class="bloco_titulo">
                    <h1 class="titulo">Recuperar Senha</h1>
                </div>
                
                <br>

                <form>
                    <!--Input de confirmação de senha atual-->
                    <div class="senha">
                        <label class="label" for="senha">Senha</label>
                        <div class="erro_div">
                            <input class="senha_input" type="password" id="senha" name="senha" required>
                            <span id="erroSenha" class="erro" style="color: red; display: none;">*</span>
                        </div>
                    </div>
                    
                    <!--Input de senha nova-->
                    <div class="senha">
                        <label class="label" for="senhanova">Senha Nova</label>
                        <div class="erro_div">
                            <input class="senha_nova_input" type="password" id="senhanova" name="senhanova" required>
                            <span id="erroSenhaNova" class="erro" style="color: red; display: none;">*</span>
                        </div>
                    </div>
                    
                    <!--Input de confirmação de senha nova-->
                    <div class="senha">
                        <label class="label" for="conf_senha">Confirmar Senha</label>
                        <div class="erro_div">
                            <input class="senha_confirma_input" type="password" id="conf_senha" name="conf_senha" required>
                            <span id="erroConfSenha" class="erro" style="color: red; display: none;">*</span>
                        </div>
                    </div>

                    <button class="botao_menu">Confirmar</button>
                </form>
            </div>
        </div>
    </div>

    <div class="chat">
    <div class="header">
        <h3>Assistente Virtual</h3>
        <button class="close-chat">X</button>
    </div>
    <div class="screen"></div>
    <div class="input">
        <input type="text" placeholder="Digite sua mensagem...">
        <button id="ai-button">Enviar</button>
    </div>
    </div>
    
    <script type="module" src="/scripts/contas/usuario/senha.js"></script>
    <script type="module" src="/scripts/navbar.js"></script>
    <script type="module" src="/scripts/aiChatBot.js"></script>
    <script type="module" src="/scripts/contas/usuario/sidebar.js"></script>
</body>
</html>