<!DOCTYPE html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/style/style.css">
    <title>Atualização de Cartão</title>
</head>
<body>
    <div class="voltar"><a href="/cartao/<%=cartoes[0].usr_id%>">Voltar</a></div>
    <div class="container-cartoes">
        <div class="cartoes">

            <div class="bloco_titulo">
                <h1 class="titulo">Atualização de Cartão</h1>
            </div>
            
            <form class="container-forms-cartoes">
                <!--Primeira Linha-->
                <div class="linha_centralizada">
                    <div class="num_cartao">
                        <label for="num_cartao">Número</label>
                        <input class="num_cartao_input" type="number" id="num_cartao" name="num_cartao" value="<%=cartoes.numero%>" required>
                    </div>

                    <div class="cod_sec">
                        <label for="cod_sec">Código de Segurança</label>
                        <input class="cod_sec_input" type="password" id="cod_sec" name="cod_sec" value="<%=cartoes.cod_sec%>" required>
                    </div>

                    <div class="select">
                        <label class="label_genero">Bandeira</label>
                        <select class="selecao" id="bandeira" name="bandeira" required>
                            <option value="">Selecione</option>
                            <option value="Visa">Visa</option>
                            <option value="Mastercard">Mastercard</option>
                            <option value="Hipercard">Hipercard</option>
                            <option value="American Express">American Express</option>
                            <option value="Elo">Elo</option>
                            <option value="Diners Club">Diners Club</option>
                            <option value="Discover">Discover</option>
                        </select>
                    </div>
                </div>

                <!--Segunda Linha-->
                <div class="nome">
                    <label class="label" for="nome_c">Nome do Titular</label>
                    <input class="nome_input" type="text" id="nome_c" name="nome_c" value="<%=cartoes.nome_c%>" required>
                </div>
                
                <button>Alterar</button>
            </form>
        </div>
    </div>

    <script type="module" src="/scripts/cartaoAtualizar.js"></script>
</body>
</html>