<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="../style/style.css">
    <title>Consultar Usuário</title>
</head>
<body>
    <!-- Barra lateral de Navegação -->
    <div class="sidenav">
        <a href="index.html">Menu</a>
        <a href="cadastrarusuario.html">Cadastrar</a>
        <a href="cadastrar_end_cobranca.html">Cadastrar End. Cobrança</a>
        <a href="cadastrar_end_entrega.html">Cadastrar End. Entrega</a>
        <a href="cadastrar_cartao.html">Cadastrar Cartão</a>
        <a href="consultarusuario.html">Consultar</a>
        <a href="atualizarusuario.html">Atualizar</a>
    </div>

    <!-- Div usada para centralizar o conteúdo da página além da barra lateral -->
    <div class="conteudo">
        <div class="bloco_titulo">
            <h1 class="titulo">Consultar Usuário</h1>
        </div>

        <div class="main">
            <!-- Mensagem de erro -->
            <div id="mensagemErro" style="color: red; display: none;"></div>

            <br>
            
            <form id="formConsulta">
                <!-- Select com as colunas da tabela usuario -->
                <div>
                    <label for="coluna">Coluna:</label>
                    <select class="selecao" id="coluna" name="coluna" required>
                        <option value="usr_nome">Nome</option>
                        <option value="usr_email">E-mail</option>
                        <option value="usr_cpf">CPF</option>
                        <option value="usr_telefone_1">Telefone 1</option>
                        <option value="usr_telefone_2">Telefone 2</option>
                        <option value="usr_genero">Gênero</option>
                    </select>
                </div>

                <!-- Campo de input para o valor a ser pesquisado -->
                <div class="nome">
                    <label for="valor">Valor:</label>
                    <input class="nome_input" type="text" id="valor" name="valor" required>
                </div>

                <!-- Botão de submit -->
                <div class="botoes">
                    <input type="submit" value="Consultar">
                </div>
            </form>
        </div>
    </div>

    <!-- Script de consulta -->
    <script src="../scripts/consultaUsuario.js"></script>
</body>
</html>