<!DOCTYPE html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/style/style.css">
</head>
<body>
    <!--Barra lateral de Navegação-->
    <div class="sidenav">
        <a href="index.ejs">Menu</a>
        <a href="cadastrarUsuario.ejs">Cadastrar</a>
        <a href="consultarUsuario.ejs">Consultar</a>
        <a href="atualizarUsuario.ejs">Atualizar</a>
    </div>

    <div class="conteudo">
        <div class="main">

            <div class="bloco_titulo">
                <h1 class="titulo">Mostrar Usuarios</h1>
            </div>
            
            <div class="button">
                <a href="/cadastrarUsuario">Cadastrar Usuário</a>
            </div>

            <%
                usuarios.forEach(usuario => { %>
                    <div class="usuario-mostrado">
                        <div class="usuario">
                            <p class="invisible usuario-id"><%=usuario.usr_id%></p>
                            <p><%=usuario.usr_nome%></p>
                            <p><%=usuario.usr_email%></p>
                        </div>
                        <div class="botoes">
                            <a class="atualizar" href="#">Alterar</a>
                            <a class="inativar" href="#">Inativar</a>
                        </div>
                    </div>
                    <%
                });
            %>
        </div>
    </div>

    <script type="module" src="/scripts/consultaUsuario.js"></script>
    <script type="module" src="/scripts/mensagemUsuario.js"></script>
</body>
</html>