<!DOCTYPE html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/style/style.css">
</head>
<body>
    <!--Barra lateral de Navegação-->
    <div class="sidenav">
        <a href="index.ejs">Menu</a>
        <a href="cadastrarUsuario.ejs">Cadastrar</a>
        <a href="consultarUsuario.ejs">Consultar</a>
        <a href="atualizarUsuario.ejs">Atualizar</a>
    </div>

    <div class="conteudo">
        <div class="main">
            <div class="filtro_usuarios">
                <div class="bloco_titulo">
                    <h1 class="titulo">Consultar Usuário</h1>
                </div>

                <br>

                <!-- Input de Nome -->
                <div class="nome">
                    <label class="label" for="nome_filtro">Nome</label>
                    <input class="nome_input" type="text" id="nome_filtro" name="nome_filtro" placeholder="Nome">
                </div>

                <!-- Input de Email -->
                <div class="email">
                    <label class="label" for="email_filtro">E-mail</label>
                    <input class="email_input" type="email" id="email_filtro" name="email_filtro" placeholder="E-mail">
                </div>

                <!-- Input de Telefone 1 -->
                <div class="telefone">
                    <label class="label_pequena" for="telefone1_filtro">Telefone 1</label>
                    <input class="telefone_input" type="text" id="telefone1_filtro" name="telefone1_filtro" placeholder="Telefone 1">
                </div>

                <!-- Input de Telefone 2 -->
                <div class="telefone">
                    <label class="label_pequena" for="telefone2_filtro">Telefone 2</label>
                    <input class="telefone_input" type="text" id="telefone2_filtro" name="telefone2_filtro" placeholder="Telefone 2">
                </div>

                <!-- Input de CPF -->
                <div class="cpf">
                    <label class="label" for="cpf_filtro">CPF</label>
                    <input class="cpf_input" type="text" id="cpf_filtro" name="cpf_filtro" placeholder="CPF">
                </div>

                <!-- Input de Data de Nascimento -->
                <div class="data_div">
                    <label class="label_pequena" for="data_nascimento_filtro">Data de Nascimento</label>
                    <input type="date" id="data_nascimento_filtro" name="data_nascimento_filtro">
                </div>

                <!-- Input de Gênero -->
                <div class="genero">
                       <label class="label_genero">Gênero</label>
                        <select class="selecao" id="genero_filtro" name="genero_filtro">
                            <option value="">Selecione</option>
                            <option value="M">Masculino</option>
                            <option value="F">Feminino</option>
                            <option value="NB">Não Binário</option>
                    </select>
                </div>

                <!-- Botão de Filtrar -->
                <div class="button">
                    <button class="filtrar" type="button" id="filtrar">Filtrar</button>
                 </div>
            </div>

            <div class="button">
                <a href="/cadastrarUsuario">Cadastrar Usuário</a>
            </div>

            <%
                usuarios.forEach(usuario => { %>
                    <div class="usuario-mostrado">
                        <div class="usuario">
                            <p class="invisible usuario-id"><%=usuario.usr_id%></p>
                            <p><%=usuario.usr_nome%></p>
                            <p><%=usuario.usr_email%></p>
                        </div>
                        <div class="botoes">
                            <a class="atualizar" href="#">Alterar</a>
                            <a class="inativar" href="#">Inativar</a>
                        </div>
                    </div>
                    <%
                });
            %>
        </div>
    </div>

    <script type="module" src="/scripts/consultaUsuario.js"></script>
    <script type="module" src="/scripts/mensagemUsuario.js"></script>
</body>
</html>