<!DOCTYPE html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/style/style.css">
    <title>Recuperação de Senha</title>
</head>
<body>
    <div class="main">

        <div class="senha">
            <div class="bloco_titulo">
                <h1 class="titulo">Recuperar Senha</h1>
            </div>

            <form>
                <input class="senha_input" type="password">
                <input class="senha_nova_input" type="password">
                <input class="senha_confirma_input" type="password">

                <button>Confirmar</button>
            </form>
        </div>
    </div>

    <script type="module" src="/scripts/senha.js"></script>
</body>
</html>