/* Estilos específicos para endCobranca.ejs */
.endereco-id {
    display: none;
}

/* Estilos específicos para enderecoCobrancaAdicionar.ejs */
.cidade_input {
    width: 300px;
    box-sizing: border-box;
    font-size: 20px;
    border: 2px solid black;
}

.endereco_input {
    width: 650px;
    box-sizing: border-box;
    font-size: 20px;
    border: 2px solid black;
}

.numero_input {
    width: 40px;
    box-sizing: border-box;
    font-size: 20px;
    border: 2px solid black;
}

.label_pequena {
    font-size: 22px;
    display: flex;
    align-items: flex-start;
    align-self: flex-start;
}

.label_genero {
    font-size: 22px;
    display: flex;
    align-items: center;
    align-self: center;
}

.selecao {
    background-color: #0003c8;
    width: 85px;
    height: 30px;
    color: #ffffff;
    text-decoration: none;
    cursor: pointer;
    border: #0003c8;
}

.linha_centralizada {
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: row;
    gap: 20px;
    margin-bottom: 10px;
}

.container-forms-endereco button {
    background-color: green;
    width: 120px;
    height: 40px;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 18px;
    margin-top: 20px;
}

/* Estilos específicos para enderecoCobrancaAtualizar.ejs */
.cidade_input {
    width: 300px;
    box-sizing: border-box;
    font-size: 20px;
    border: 2px solid black;
}

.endereco_input {
    width: 650px;
    box-sizing: border-box;
    font-size: 20px;
    border: 2px solid black;
}

.numero_input {
    width: 40px;
    box-sizing: border-box;
    font-size: 20px;
    border: 2px solid black;
}

.label_pequena {
    font-size: 22px;
    display: flex;
    align-items: flex-start;
    align-self: flex-start;
}

.label_genero {
    font-size: 22px;
    display: flex;
    align-items: center;
    align-self: center;
}

.selecao {
    background-color: #0003c8;
    width: 85px;
    height: 30px;
    color: #ffffff;
    text-decoration: none;
    cursor: pointer;
    border: #0003c8;
}

.linha_centralizada {
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: row;
    gap: 20px;
    margin-bottom: 10px;
}

.container-forms-endereco button {
    background-color: green;
    width: 120px;
    height: 40px;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 18px;
    margin-top: 20px;
}