/* Estilos específicos para senha.ejs */
.senha_input {
    width: 700px;
    box-sizing: border-box;
    font-size: 20px;
    border: 2px solid black;
}

.senha_nova_input {
    width: 700px;
    box-sizing: border-box;
    font-size: 20px;
    border: 2px solid black;
}

.senha_confirma_input {
    width: 700px;
    box-sizing: border-box;
    font-size: 20px;
    border: 2px solid black;
}

.label {
    font-size: 22px;
    padding-left: 35px;
    display: flex;
    align-items: flex-start;
    align-self: flex-start;
}

.erro_div {
    display: flex;
    flex-direction: row;
}

.botao_menu {
    background-color: #0003c8;
    width: 80px;
    height: 30px;
    color: #ffffff;
    text-decoration: none;
    cursor: pointer;
    border: #0003c8;
}