
body {
  font-family: "Lato", sans-serif;
}

/*Estilização do Label */
label{
    font-size: 22px;
}

/*Estilização do Input de Texto */
input[type=text]{
    width: 400px;
    box-sizing: border-box;
    font-size: 20px;
    border: 2px solid black;
}

/*Estilização do Input de Botão */
input[type=button]{
    background-color: red;
    width: 80px;
    height: 30px;
    color: #ffffff;
    text-decoration: none;
    cursor: pointer;
}

/*Separar o Conteudo Principal da Barra Lateral*/
.conteudo{
    margin-left: 160px;
}

/*Estlização e Fixação da Barra Lateral*/
.sidenav {
  height: 100%;
  width: 160px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #0003c8;
  overflow-x: hidden;
  padding-top: 8px;
}

.sidenav a {
  padding: 8px;
  text-align: center;
  text-decoration: none;
  font-size: 25px;
  color: #ffffff;
  display: block;
  border-bottom: 2px solid #ffffff;
}

.sidenav a:hover {
  color: #ffffff;
  text-decoration: underline;
}

/*Estilização e Centralização do Titulo*/
.bloco_titulo{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 300px;
    height: 55px;
    background-color: #0003c8;
    margin: 0 auto;
    padding: 10px;
}

.titulo{
    color: #ffffff;
    margin: 0;
}

/*Centralização e Estilização da Tabela*/
.table_div{
    display: flex;
    justify-content: center;
    align-items: center;
}

table,th,td{
    border: 2px solid black;
}

.main {
  font-size: 28px; 
  padding: 0px 10px;
}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}