<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/style/adm/transacao/transacaoAdmStyle.css">
    <link rel="stylesheet" href="/style/adm/transacao/scriptsStyle.css">
    <link rel="stylesheet" href="/style/adm/recursosBasicos.css">
    <link rel="icon" href="/imagens/livro-16.ico">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/choices.js/public/assets/styles/choices.min.css" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css">
</head>
<body>

    <header>
        <nav class="main-nav">
            <a class="home-link">Home</a>
            <div class="nav-botao">
                <button id="Clientes">Clientes</button>
                <button id="inativos">Inativos</button>
            </div>
        </nav>
        
        <nav class="usuario-nav">
            <div class="usuario-sessao">
                <span class="usuario-nome" id="adm-name-display"></span>
                <img src="/imagens/avatar.jpg" alt="Imagem do usuário" class="usuario-imagem">
            </div>
        </nav>
    </header>

    <div class="main">
        <!--Barra lateral de Navegação-->
        <div class="sidenav">
            <a id="pedidos">Pedidos</a>
            <a id="estoque">Estoque</a>
            <a id="analise">Análise</a>
        </div>

        <!--Div usada para centralizar o conteudo para da página além da barra lateral-->
        <div class="conteudo">
            <div class="bloco_titulo">
                <h1 class="titulo">Analise de Histórico de Vendas</h1>
            </div>

            </br>

            <div class="linha_centralizada">
                <button class="botao-mais-filtro">Filtros</button>
            </div>

            </br>

            <div class="linha_centralizada">
                <div class="box data hidden">
                    <h2 class="title-periodo">Período</h2>
                    <label for="data-range" class="label-categoria-analise">Selecione um Período</label>
                    <input id="data-range" type="text" placeholder="Clique aqui..." class="form-control">
                    <div class="btns">
                        <div class="btn-flt-data">
                            <a href="" class="btn-filtro btn-filtrar">Filtrar</a>
                        </div>
                        <div class="btn-clean-periodo">
                            <a href="" class="btn-filtro btn-limpar">Limpar</a>
                        </div>
                    </div>
                </div>
            </div>
            
        
            </br class="hidden">

            <div class="linha_centralizada">
                <div class="box categorias hidden">
                    <h2 class="title-categorias">Categorias</h2>
                    <label for="categorias-filtro" class="label-categoria-analise">Selecione as Categorias</label>
                    <select name="categorias-filtro" id="categorias-filtro" multiple>

                        <% categorias.forEach(cat => { %>
                            <option value="<%=cat.cat_id%>"><%=cat.cat_nome%></option>
                        <% }); %>

                    </select>

                    <div class="btns">
                        <div class="btn-flt-cat">
                            <a href="" class="btn-filtro btn-filtrar">Filtrar</a>
                        </div>
                        <div class="btn-clean-cat">
                            <a href="" class="btn-filtro btn-limpar">Limpar</a>
                        </div>
                    </div>
                </div>
            </div>
            
            </br>
            
            <div class="grafico">
                <div id="historico-vendas"></div>
            </div>
            
        </div>
    </div>

    <!-- CDNs -->
    <script src="https://cdn.jsdelivr.net/npm/apexcharts"></script>
    <script src="https://cdn.jsdelivr.net/npm/choices.js/public/assets/scripts/choices.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/flatpickr"></script>
    <script src="https://cdn.jsdelivr.net/npm/flatpickr/dist/l10n/pt.js"></script>

    <script type="module" src="/scripts/transacoes/adm/analise.js"></script>
    <script type="module" src="/scripts/base/adm/navbarAdm.js"></script>
    <script type="module" src="/scripts/base/adm/sidebarAdm.js"></script>
</body>
</html>