<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/style/adm/recursosBasicos.css">
    <link rel="stylesheet" href="/style/adm/contas/admContasStyle.css">
    <link rel="stylesheet" href="/style/adm/contas/scriptsStyle.css">
    <link rel="icon" href="/imagens/livro-16.ico">
</head>
<body>

    <header>
        <nav class="main-nav">
            <a class="home-link">Home</a>
            <div class="nav-botao">
                <button id="Clientes">Clientes</button>
                <button id="inativos">Inativos</button>
            </div>
        </nav>
        
        <nav class="usuario-nav">
            <div class="usuario-sessao">
                <span class="usuario-nome" id="adm-name-display"></span>
                <img src="/imagens/avatar.jpg" alt="Imagem do usuário" class="usuario-imagem">
            </div>
        </nav>
    </header>

    <div class="main">
        <!--Barra lateral de Navegação-->
        <div class="sidenav">
            <a id="pedidos">Pedidos</a>
            <a id="estoque">Estoque</a>
            <a id="analise">Análise</a>
        </div>

        <div class="conteudo">
            <div class="inativos">
                <div class="bloco_titulo">
                    <h1 class="titulo">Usuários Inativos</h1>
                </div>
                
                <br>

                <div class="table_div">
                    <table>
                        <thead>
                            <tr>
                                <th>Nome</th>
                                <th>E-mail</th>
                                <th>CPF</th>
                                <th>Opções</th>
                            </tr>
                        </thead>
                        <tbody>
                            <% inativos.forEach(usuario => { %>
                                <tr class="usuario-mostrado">
                                    <td class="usuario-inat-id"><%= usuario.usr_id %></td>
                                    <td><%= usuario.usr_nome %></td>
                                    <td><%= usuario.usr_email %></td>
                                    <td><%= usuario.usr_cpf %></td>
                                    <td>
                                        <div class="botoes_resultado">
                                            <button class="reativar">Reativar</button>
                                            <button class="inativar">Inativar</button>
                                        </div>
                                    </td>
                                </tr>
                            <% }); %>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

    <script type="module" src="/scripts/constas/adm/usuarioInativo.js"></script>
    <script type="module" src="/scripts/base/adm/navbarAdm.js"></script>
    <script type="module" src="/scripts/base/adm/sidebarAdm.js"></script>

</body>
</html>