<!DOCTYPE html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/style/style.css">
    <title>Usuários Inativos</title>
</head>

<body>
    <!--Barra lateral de Navegação-->
    <div class="sidenav">
        <a href="">Menu</a>
        <a href="cadastrarUsuario.ejs">Cadastrar</a>
        <a href="consultarUsuario.ejs">Consultar</a>
        <a href="atualizarUsuario.ejs">Atualizar</a>
    </div>

    <div class="main">
        <div class="inativos">
            <div class="bloco_titulo">
                <h1 class="titulo">Usuários Inativos</h1>
            </div>
            
            <br>

            <div class="table_div">
                <table>
                    <thead>
                        <tr>
                            <th>Nome</th>
                            <th>E-mail</th>
                            <th>CPF</th>
                            <th>Opções</th>
                        </tr>
                    </thead>
                    <tbody>
                        <% inativos.forEach(usuario => { %>
                            <tr class="usuario-mostrado">
                                <td class="usuario-inat-id"><%= usuario.usr_id %></td>
                                <td><%= usuario.usr_nome %></td>
                                <td><%= usuario.usr_email %></td>
                                <td><%= usuario.usr_cpf %></td>
                                <td>
                                    <div class="botoes_resultado">
                                        <button class="reativar">Reativar</button>
                                    </div>
                                </td>
                            </tr>
                        <% }); %>
                    </tbody>
                </table>
            </div>
        </div>
    </div>

    <script type="module" src="/scripts/usuarioInativo.js"></script>
</body>
</html>