<!DOCTYPE html>
<html>
<head>
  
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="../style/style.css">

</head>

<body>

    <!--Barra lateral de Navegação-->
    <div class="sidenav">
        <a href="index.ejs">Menu</a>
        <a href="cadastrarusuario.ejs">Cadastrar</a>
        <a href="cadastrar_end_cobranca.ejs">Cadastrar End. Cobrança</a>
        <a href="cadastrar_end_entrega.ejs">Cadastrar End. Entrega</a>
        <a href="cadastrar_cartao.ejs">Cadastrar Cartão</a>
        <a href="consultarusuario.ejs">Consultar</a>
        <a href="atualizarusuario.ejs">Atualizar</a>
    </div>

    <!--Div usada para centralizar o conteudo para da página além da barra lateral-->
    <div class="conteudo">
        <div class="bloco_titulo">
            <h1 class="titulo">Atualizar Usuário</h1>
        </div>

        <div class="main">
            <!--Entrada de Texto-->
            <form>
                <label for="fname">First name:</label><br>
                <input type="text" id="fname" name="fname">
            </form>

            <!--Entrada de Botão-->
            <form>
                <input type="button" id="button" name="button" value="Button">
            </form>
        </div>

    </div>

    
</body>

</html> 
