<!DOCTYPE html>
<html>
<head>
  
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="../style/style.css">

</head>

<body>

    <!--Barra lateral de Navegação-->
    <div class="sidenav">
        <a href="index.html">Menu</a>
        <a href="cadastrarusuario.html">Cadastrar</a>
        <a href="cadastrar_end_cobranca.html">Cadastrar End. Cobrança</a>
        <a href="cadastrar_end_entrega.html">Cadastrar End. Entrega</a>
        <a href="cadastrar_cartao.html">Cadastrar Cartão</a>
        <a href="consultarusuario.html">Consultar</a>
        <a href="atualizarusuario.html">Atualizar</a>
    </div>

    <!--Div usada para centralizar o conteudo para da página além da barra lateral-->
    <div class="conteudo">
        <div class="bloco_titulo">
            <h1 class="titulo">Cadastrar Usuário</h1>
        </div>

        <div class="main">
            
            <form id="formCadastro">
                <!--Input de Nome-->
                <div class="nome">
                        <label for="nome">Nome</label>
                        <input class="nome_input" type="text" id="nome" name="nome">
                </div>

                <!--Input de Email-->
                <div class="email">
                        <label for="E-mail">E-mail</label>
                        <input class="email_input" type="text" id="E-mail" name="E-mail">
                </div>
                
                <!--Input de CPF-->
                <div class="cpf">
                        <label for="CPF">CPF</label>
                        <input class="cpf_input" type="number" id="CPF" name="CPF">
                </div>

                <!--Bloco de Texto Informando como deve ser a senha-->
                <div class="bloco_texto">
                    <p>Sua escolha de senha deve conter ao menos:</p>
                    <p>- 8 caracteres.</p>
                    <p>- Uma letra Maiúscula, minuscula, número e símbolo.</p>
                </div>

                <!--Input de senha-->
                <div class="senha">
                        <label for="senha">Senha</label>
                        <input class="senha_input" type="password" id="senha" name="senha">
                </div>
                
                <div class="senha">
                        <label for="conf_senha">Confirmar Senha</label>
                        <input class="senha_input" type="password" id="conf_senha" name="conf_senha">
                </div>

                <!--Input de data e Telefone-->
                <div class="linha_centralizada">

                    <div class="data">
                        <label for="data">Data</label>
                        <input type="date" id="data" name="data">
                    </div>

                    <div class="telefone">
                        <label for="telefone1">Telefone 1</label>
                        <input class="telefone_input" type="number" id="telefone1" name="telefone1">
                    </div>
                
                    <div class="telefone">
                        <label for="telefone2">Telefone 2</label>
                        <input class="telefone_input" type="number" id="telefone2" name="telefone2">
                    </div>
                </div>

                <div class="genero">
                    
                    <p>Genero</p>

                        <input type="radio" id="Masculino" name="genero" value="Masculino">
                        <label for="Masculino">Masculino</label>
                        <input type="radio" id="Feminino" name="genero" value="Feminino">
                        <label for="Feminino">Feminino</label>
                        <input type="radio" id="Nao_Binario" name="genero" value="Nao_Binario">
                        <label for="Nao_Binario">Não Binario</label>
                </div>

                <!--Input de Botões-->
                <div class="botoes">
                        <button type="button" id="Cancelar">Cancelar</button>
                        <input type="submit" id="submit" name="submit" value="Confirmar">
                </div>
            </form>
        </div>

    </div>

    <script>
        // Script do botão cancelar
        document.getElementById("Cancelar").addEventListener("click", function() {
            window.location.href = "index.html";
        });
    </script>

    <!--Script do Submit-->
    <script src="../scripts/cadastrarusuario.js"></script>
    
</body>

</html> 
