<!DOCTYPE html>
<html>
<head>
  
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="../style/style.css">

</head>

<body>

    <!--Barra lateral de Navegação-->
    <div class="sidenav">
        <a href="index.html">Menu</a>
        <a href="cadastrarusuario.html">Cadastrar</a>
        <a href="cadastrar_end_cobranca.html">Cadastrar End. Cobrança</a>
        <a href="cadastrar_end_entrega.html">Cadastrar End. Entrega</a>
        <a href="consultarusuario.html">Consultar</a>
        <a href="atualizarusuario.html">Atualizar</a>
    </div>

 <!--Div usada para centralizar o conteudo para da página além da barra lateral-->
 <div class="conteudo">
    <div class="bloco_titulo">
        <h1 class="titulo">Cadastrar End. Entrega</h1>
    </div>

    <div class="main">
        <br>
        <form id="formEndCobranca">
            <!--Primeira Linha-->
            <div class="linha_centralizada">

                <div class="cidade">
                    <label for="cidade_c">Cidade</label>
                    <input class="cidade_input" type="text" id="cidade_c" name="cidade_c">
                </div>

                <div class="bairro">
                    <label for="Bairro">Bairro</label>
                    <input class="cidade_input" type="text" id="Bairro_c" name="Bairro_c">
                </div>

                <div class="estado">
                    <label>Estado</label>
                        <select class="selecao" id="estado_c" name="estado_c">
                            <option value="AC">AC</option>
                            <option value="AL">AL</option>
                            <option value="AP">AP</option>
                            <option value="AM">AM</option>
                            <option value="BA">BA</option>
                            <option value="CE">CE</option>
                            <option value="DF">DF</option>
                            <option value="ES">ES</option>
                            <option value="GO">GO</option>
                            <option value="MA">MA</option>
                            <option value="MT">MT</option>
                            <option value="MS">MS</option>
                            <option value="MG">MG</option>
                            <option value="PA">PA</option>
                            <option value="PB">PB</option>
                            <option value="PR">PR</option>
                            <option value="PE">PE</option>
                            <option value="PI">PI</option>
                            <option value="RJ">RJ</option>
                            <option value="RN">RN</option>
                            <option value="RS">RS</option>
                            <option value="RO">RO</option>
                            <option value="RR">RR</option>
                            <option value="SC">SC</option>
                            <option value="SP">SP</option>
                            <option value="SE">SE</option>
                            <option value="TO">TO</option>
                        </select>
                </div>
            </div>

            <!--Segunda Linha-->
            <div class="linha_centralizada">
                
                <div class="endereco">
                    <label for="endereco_c">Endereço</label>
                    <input class="endereco_input" type="text" id="endereco_c" name="endereco_c">
                </div>

                <div class="numero">
                    <label for="numero_c">Nº.</label>
                    <input class="numero_input" type="number" id="numero_c" name="numero_c">
                </div>
            </div>

            <!--Terceira Linha-->
            <div class="linha_centralizada">

                <div class="cidade">
                    <label for="complemento_c">Complemento</label>
                    <input class="cidade_input" type="text" id="complemento_c" name="complemento_c">
                </div>

                <div class="bairro">
                    <label for="cep_c">CEP</label>
                    <input class="cidade_input" type="text" id="cep_c" name="cep_c">
                </div>
            </div>
            <br>

            <!--Linha dos Botões-->
            <div class="botoes">
                <button type="button" id="Cancelar">Cancelar</button>
                <input type="submit" id="submit" name="submit" value="Confirmar">
            </div>
        </form>

        
        
    </div>

</div>
</body>

</html> 
