<!DOCTYPE html>
<html>
<head>
  
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="../style/style.css">

</head>

<body>

    <!--Barra lateral de Navegação-->
    <div class="sidenav">
        <a href="index.html">Menu</a>
        <a href="cadastrarusuario.html">Cadastrar</a>
        <a href="cadastrar_end_cobranca.html">Cadastrar End. Cobrança</a>
        <a href="cadastrar_end_entrega.html">Cadastrar End. Entrega</a>
        <a href="cadastrar_cartao.html">Cadastrar Cartão</a>
        <a href="consultarusuario.html">Consultar</a>
        <a href="atualizarusuario.html">Atualizar</a>
    </div>

    <!--Div usada para centralizar o conteudo para da página além da barra lateral-->
    <div class="conteudo">
        <div class="bloco_titulo">
            <h1 class="titulo">Cadastrar Cartão</h1>
        </div>

        <div class="main">
            
            <br>
            <!--Primeira Linha-->
            <div class="linha_centralizada">
                <div class="num_cartao">
                    <label for="num_cartao">Número</label>
                    <input class="num_cartao_input" type="number" id="num_cartao" name="num_cartao">
                </div>

                <div class="cod_sec">
                    <label for="cod_sec">Código de Segurança</label>
                    <input class="cod_sec_input" type="password" id="cod_sec" name="cod_sec">
                </div>

                <div class="select">
                    <label>Bandeira</label>
                        <select class="selecao" id="bandeira" name="bandeira">
                            <option value="Visa">Visa</option>
                            <option value="Mastercard">Mastercard</option>
                            <option value="Hipercard">Hipercard</option>
                            <option value="American Express">American Express</option>
                            <option value="Elo">Elo</option>
                            <option value="Diners Club">Diners Club</option>
                            <option value="Discover">Discover</option>
                        </select>
                </div>
            </div>

            <!--Segunda Linha-->
            <div class="nome">
                <label for="nome_c">Nome</label>
                <input class="nome_input" type="text" id="nome_c" name="nome_C">
            </div>

            <br>

            <!--Input de Botões-->
            <div class="botoes">
                <button type="button" id="Cancelar">Cancelar</button>
                <input type="submit" id="submit" name="submit" value="Confirmar">
            </div>
            
        </div>

    </div>
</body>

</html> 