<!DOCTYPE html>
<html>
<head>

<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="cadastrarusuario.css">

</head>

<body>

    <!--Barra lateral de Navegação-->
    <div class="sidenav">
      <a href="index.ejs">Menu</a>
      <a href="cadastrarusuario.ejs">Cadastrar</a>
      <a href="cadastrar_end_cobranca.ejs">Cadastrar End. Cobrança</a>
      <a href="cadastrar_end_entrega.ejs">Cadastrar End. Entrega</a>
      <a href="cadastrar_cartao.ejs">Cadastrar Cartão</a>
      <a href="consultarusuario.ejs">Consultar</a>
      <a href="atualizarusuario.ejs">Atualizar</a>
  </div>

    <!--Div usada para centralizar o conteudo para da página além da barra lateral-->
    <div class="conteudo">
        <div class="bloco_titulo">
            <h1 class="titulo">Cadastrar Usuário</h1>
        </div>


        <div class="table_div">
            <table>
                <tr>
                  <th>Company</th>
                  <th>Contact</th>
                  <th>Country</th>
                </tr>
                <tr>
                  <td>Alfreds Futterkiste</td>
                  <td>Maria Anders</td>
                  <td>Germany</td>
                </tr>
                <tr>
                  <td>Centro comercial Moctezuma</td>
                  <td>Francisco Chang</td>
                  <td>Mexico</td>
                </tr>
              </table>
        </div>
    </div>

    
</body>

</html> 
