<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/style/style.css">
    <link rel="icon" href="/imagens/livro-16.ico">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/choices.js/public/assets/styles/choices.min.css" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css">
</head>
<body>

    <header>
        <nav class="main-nav">
            <a href="/home-adm" class="home-link">Home</a>
            <div class="nav-botao">
                <button>Clientes</button>
                <button>Livros</button>
            </div>
        </nav>
        
        <nav class="usuario-nav">
            <div class="usuario-sessao">
                <span class="usuario-nome">Adm</span>
                <img src="/imagens/graficoLinha.PNG" alt="Imagem do usuário" class="usuario-imagem">
            </div>
        </nav>
    </header>

    <div class="main">
        <!--Barra lateral de Navegação-->
        <div class="sidenav">
            <a href="/pedidos">Pedidos</a>
            <a href="/">Estoque</a>
            <a href="/analise">Análise</a>
        </div>

        <!--Div usada para centralizar o conteudo para da página além da barra lateral-->
        <div class="conteudo">
            <div class="bloco_titulo">
                <h1 class="titulo">Analise de Histórico de Vendas</h1>
            </div>

             <div class="box data">
                <h2 class="title-periodo">Período</h2>
                <label for="data-range">Selecione um Período</label>
                <input id="data-range" type="text" placeholder="Clique aqui..." class="form-control">
                <div class="btns">
                    <div class="btn-flt-data">
                        <a href="">Filtrar</a>
                    </div>
                    <div class="btn-clean-periodo">
                        <a href="">Limpar</a>
                    </div>
                </div>
            </div>

            <div class="box categorias">
                <h2 class="title-categorias">Categorias</h2>
                <label for="categorias-filtro">Selecione as Categorias</label>
                <select name="categorias-filtro" id="categorias-filtro" multiple>

                    <% categorias.forEach(cat => { %>
                        <option value="<%=cat.cat_id%>"><%=cat.cat_nome%></option>
                    <% }); %>

                </select>

                <div class="btns">
                    <div class="btn-flt-cat">
                        <a href="">Filtrar</a>
                    </div>
                    <div class="btn-clean-cat">
                        <a href="">Limpar</a>
                    </div>
                </div>
            </div>
          
            <h2 class="title">Análise do Histórico de Vendas</h2>
            <div class="grafico">
                <div id="historico-vendas"></div>
            </div>
            
        </div>
    </div>

    <!-- CDNs -->
    <script src="https://cdn.jsdelivr.net/npm/apexcharts"></script>
    <script src="https://cdn.jsdelivr.net/npm/choices.js/public/assets/scripts/choices.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/flatpickr"></script>
    <script src="https://cdn.jsdelivr.net/npm/flatpickr/dist/l10n/pt.js"></script>

    <script type="module" src="/javaScript/pages/analise/historicoVendas.js"></script>
</body>
</html>