<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/style/adm/recursosBasicos.css">
    <link rel="stylesheet" href="/style/adm/contas/admContasStyle.css">
    <link rel="stylesheet" href="/style/adm/contas/scriptsStyle.css">
    <link rel="icon" href="/imagens/livro-16.ico">
</head>
<body>

    <header>
        <nav class="main-nav">
            <a class="home-link">Home</a>
            <div class="nav-botao">
                <button id="Clientes">Clientes</button>
                <button id="inativos">Inativos</button>
            </div>
        </nav>
        
        <nav class="usuario-nav">
            <div class="usuario-sessao">
                <span class="usuario-nome" id="adm-name-display"></span>
                <img src="/imagens/avatar.jpg" alt="Imagem do usuário" class="usuario-imagem">
            </div>
        </nav>
    </header>

    <div class="main">
        <!--Barra lateral de Navegação-->
        <div class="sidenav">
            <a id="pedidos">Pedidos</a>
            <a id="estoque">Estoque</a>
            <a id="analise">Análise</a>
        </div>

        <div class="conteudo">
            <div class="bloco_titulo">
                <h1 class="titulo">Entrada de Estoque</h1>
            </div>

            <br>

            <div class="linha-input-pesquisa">
                <label class="label_pequena">ISBN</label>
                <input type="number" class="filtro-pesquisa-numero-isbn" placeholder="Pesquisar...">
            </div>

            <br>

            <div class="linha-input-pesquisa">
                <label class="label_pequena">Cód. Barras</label>
                <input type="number" class="filtro-pesquisa-numero-codigo" placeholder="Pesquisar...">
            </div>

            <div class="botoes">
                <button class="pesquisa-botao">Procurar</button>
            </div>
        </div>
    </div>

    <script type="module" src="/scripts/base/adm/estoque.js"></script>
    <script type="module" src="/scripts/base/adm/navbarAdm.js"></script>
    <script type="module" src="/scripts/base/adm/sidebarAdm.js"></script>

</body>
</html>