<!DOCTYPE html>

<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/style/style.css">
    <link rel="icon" href="/imagens/livro-16.ico">
</head>
<body>

    <header>
        <nav class="main-nav">
            <a class="home-link">Home</a>
            <div class="nav-botao">
                <button>Histórico</button>
                <button id="botao-carrinho">Carrinho</button>
                <button>Trocas</button>
                <button id="botao-chatbot-navbar">Chatbot</button>
            </div>
        </nav>
        
        <nav class="usuario-nav">
            <div class="notificacao-container">
                <img src="/imagens/notificacao.png" alt="Notificações" class="notificacao-icone" hidden>
                <div class="notificacao-submenu">
                    <div class="notificacoes-lista"></div>
                </div>
            </div>

            <div class="barra-pesquisa">
                <input type="text" id="navbarInput" placeholder="Pesquisar...">
                <button id="navbarBotaoPesquisa">🔍</button>
            </div>
            
            <div class="usuario-sessao">
                <div id="user-data" data-user-id="<%= Array.isArray(usuario) ? usuario[0]?.usr_id : usuario?.usr_id %>" style="display:none;"></div>
                <span class="usuario-nome"><%= Array.isArray(usuario) ? usuario[0]?.usr_nome : usuario?.usr_nome %></span>
                <img src="/imagens/graficoLinha.PNG" alt="Imagem do usuário" class="usuario-imagem">
            </div>
        </nav>
    </header>

    <div class="main">
        <!--Barra lateral de Navegação-->
        <div class="sidenav">
            <a href="/cadastro">Cadastrar</a>
            <a href="/">Atualizar Senha</a>
            <a href="/">Atualizar Cadastro</a>
            <a href="/">Cartões</a>
            <a href="/">End. Entrega</a>
            <a href="/">End. Cobranca</a>
        </div>

        <div class="conteudo">
            <img src="/imagens/graficoLinha.PNG" class="destaque-principal hidden">

            <br>

            <div class="carrosel-container">
                <div class="carrosel-slide">
                    <!-- Slide 1 -->
                    <div class="slide-item">
                        <div class="imagem-container" onclick="window.location.href=`/livros/4`">
                            <img src="/imagens/it.jpg" alt="Imagem 1">
                        </div>
                        <div class="texto-container">
                            <h2>It a Coisa</h2>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam in dui mauris. Vivamus hendrerit arcu sed erat molestie vehicula.</p>
                            <button onclick="window.location.href=`/livros/4`" class="alterar">Saiba Mais</button>
                            <div class="desconto-adicionar">
                                <table>
                                    <thead>
                                        <tr>
                                            <th class="desconto-do-produto">20% de Desconto</th>
                                            <th class="valor-produto">R$ 50,00</th>
                                            <th class="adicionar-produto">Adicionar ao Carrinho</th>
                                        </tr>
                                    </thead>
                                </table>
                            </div>                          
                        </div>
                    </div>
                    
                    <!-- Slide 2 -->
                    <div class="slide-item">
                        <div class="imagem-container">
                            <img src="/imagens/graficoLinha.PNG" onclick="window.location.href=`/livros/1`" alt="Imagem 2">
                        </div>
                        <div class="texto-container">
                            <h2>Título do Slide 2</h2>
                            <p>Fusce convallis metus id felis luctus adipiscing. Pellentesque egestas, neque sit amet convallis pulvinar.</p>
                            <button onclick="window.location.href=`/livros/1`" class="alterar">Ver Detalhes</button>
                            <div class="desconto-adicionar">
                                <table>
                                    <thead>
                                        <tr>
                                            <th class="desconto-do-produto">20% de Desconto</th>
                                            <th class="valor-produto">R$ 50,00</th>
                                            <th class="adicionar-produto-2">Adicionar ao Carrinho</th>
                                        </tr>
                                    </thead>
                                </table>
                            </div> 
                        </div>
                    </div>
                    
                    <!-- Slide 3 -->
                    <div class="slide-item">
                        <div class="imagem-container">
                            <img src="/imagens/graficoLinha.PNG" onclick="window.location.href=`/livros/2`" alt="Imagem 3">
                        </div>
                        <div class="texto-container">
                            <h2>Título do Slide 3</h2>
                            <p>Praesent commodo cursus magna, vel scelerisque nisl consectetur et. Donec sed odio dui. Donec ullamcorper nulla non metus auctor fringilla.</p>
                            <button onclick="window.location.href=`/livros/2`" class="alterar">Conheça</button>
                            <div class="desconto-adicionar">
                                <table>
                                    <thead>
                                        <tr>
                                            <th class="desconto-do-produto">20% de Desconto</th>
                                            <th class="valor-produto">R$ 50,00</th>
                                            <th class="adicionar-produto-3">Adicionar ao Carrinho</th>
                                        </tr>
                                    </thead>
                                </table>
                            </div> 
                        </div>
                    </div>
                </div>
        
                <button class="carrosel-botao" id="botaoAnterior">&#10094;</button>
                <button class="carrosel-botao" id="botaoProximo">&#10095;</button>
        
                <div class="carrosel-indicadores">
                    <span class="indicador ativo" data-index="0"></span>
                    <span class="indicador" data-index="1"></span>
                    <span class="indicador" data-index="2"></span>
                </div>
            </div>

            <br>
            <br>

            <div class="table_div">
                <table>
                    <thead>
                        <tr>
                            <th style="width: 150px">Promoções em Destaque</th>
                            <th></th>
                            <th></th>
                            <th></th>
                            <th></th>
                            <th></th>
                        </tr>
                        <tr>
                            <th style="width: 100px;"></th>
                            <th style="width: 220px;">Livro</th>
                            <th style="width: 300px">Sinopse</th>
                            <th style="width: 80px;">Desconto</th>
                            <th style="width: 120px;">Preço</th>
                            <th style="width: 280px;">Opções</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td><img src="/imagens/graficoLinha.PNG" class="imagem-tabela"></td>
                            <td>Don Quixote</td>
                            <td>Praesent commodo cursus magna, vel scelerisque nisl consectetur et. Donec sed odio dui. Donec ullamcorper nulla non metus auctor fringilla.</td>
                            <td>10%</td>
                            <td>R$ 45,00</td>
                            <td>
                                <div class="botoes_resultado">
                                    <a class="alterar" onclick="window.location.href=`/livros/4`">Ver Mais</a>
                                    <button class="adicionar">Adicionar</button>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td><img src="/imagens/graficoLinha.PNG"  class="imagem-tabela"></td>
                            <td>Don Quixote</td>
                            <td>Praesent commodo cursus magna, vel scelerisque nisl consectetur et. Donec sed odio dui. Donec ullamcorper nulla non metus auctor fringilla.</td>
                            <td>10%</td>
                            <td>R$ 45,00</td>
                            <td>
                                <div class="botoes_resultado">
                                    <a class="alterar" onclick="window.location.href=`/livros/4`">Ver Mais</a>
                                    <button class="adicionar">Adicionar</button>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td><img src="/imagens/graficoLinha.PNG" class="imagem-tabela"></td>
                            <td>Don Quixote</td>
                            <td>Praesent commodo cursus magna, vel scelerisque nisl consectetur et. Donec sed odio dui. Donec ullamcorper nulla non metus auctor fringilla.</td>
                            <td>10%</td>
                            <td>R$ 45,00</td>
                            <td>
                                <div class="botoes_resultado">
                                    <a class="alterar" onclick="window.location.href=`/livros/4`">Ver Mais</a>
                                    <button class="adicionar">Adicionar</button>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td><img src="/imagens/graficoLinha.PNG" class="imagem-tabela"></td>
                            <td>Don Quixote</td>
                            <td>Praesent commodo cursus magna, vel scelerisque nisl consectetur et. Donec sed odio dui. Donec ullamcorper nulla non metus auctor fringilla.</td>
                            <td>10%</td>
                            <td>R$ 45,00</td>
                            <td>
                                <div class="botoes_resultado">
                                    <a class="alterar" onclick="window.location.href=`/livros/4`">Ver Mais</a>
                                    <button class="adicionar">Adicionar</button>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td><img src="/imagens/graficoLinha.PNG" class="imagem-tabela"></td>
                            <td>Don Quixote</td>
                            <td>Praesent commodo cursus magna, vel scelerisque nisl consectetur et. Donec sed odio dui. Donec ullamcorper nulla non metus auctor fringilla.</td>
                            <td>10%</td>
                            <td>R$ 45,00</td>
                            <td>
                                <div class="botoes_resultado">
                                    <a class="alterar" onclick="window.location.href=`/livros/4`">Ver Mais</a>
                                    <button class="adicionar">Adicionar</button>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>

        

    </div>

    <div class="chat">
    <div class="header">
        <h3>Assistente Virtual</h3>
        <button class="close-chat">X</button>
    </div>
    <div class="screen"></div>
    <div class="input">
        <input type="text" placeholder="Digite sua mensagem...">
        <button id="ai-button">Enviar</button>
    </div>
    </div>
    


    <!--Script do Submit-->
    <script type="module" src="/scripts/home.js"></script>
    <script type="module" src="/scripts/navbar.js"></script>
    <script type="module" src="/scripts/aiChatBot.js"></script>
</body>
</html>